div{
    border: 1px solid rgba(0, 0, 0, 0.514);
    background-color: rgba(1, 98, 155, 0.267);
    color: black;
    font-size: 30px;
}

video{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.192);
}

figcaption{
    border: 2px solid black;
    padding: 15px;
    margin-left: 25%;
    text-align: center;
    width: 900px;

}